# Java
backend/target/
*.class
*.jar

# Maven
backend/.mvn/wrapper/maven-wrapper.jar

# Node
frontend/node_modules/
frontend/dist/

# Ambiente
.env
.env.prod
.env.local

# IDE
.idea/
*.iml
.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# MEMORY LOGS
/docs/MEMORY.md
